body {background-color:#1874cd; font-family: 'Open Sans', sans-serif; line-height: 1.5;}
body {color: white;}
h1, a {color:white;}
a:hover {color: #FDA769;}
nav {background-color: midnightblue;}
nav a:hover {background-color:#BDCDD6;}
nav a {color: #f6546a;}
nav {padding: 10px;}
nav {margin-bottom: 30px}