body {background-color: #4D455D;}
body {color:#E96479;}
h1, a {color:#F5E9CF;}
a:hover {color: #FDA769;}
nav {background-color: #B3005E;}
nav a:hover {background-color:#BDCDD6;}
nav a {color: #86A3B8}
nav {padding: 10px;}
nav {margin-bottom: 30px}
